.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 5rem;
  }
  h1 {
    font-size: 2rem;
  }
  &__add-user-btn {
    max-width: 200px;
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    margin-left: auto;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: #0056b3;
    }
  }
}
